@import '../mixins';

.centered {
	@include center-align;
	display: flex;
	align-items: flex-end;
}

header {
	padding: 20px 0 10px;
	border-bottom: 3px solid #868686;
	margin-bottom: 40px;
	background-color: #d6ecd5;
	color: #212121;
}

h1 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 2.2rem;
}

sub {
	font-size: 0.86rem;
}

nav {
	margin-left: 20px;
	flex-grow: 1;
	text-align: center;

	.navlink {
		margin: 0 12px;
		font-size: 1.5rem;
		font-variant: small-caps;
	}
}