header {
	display: flex;
	align-items: flex-end;
	padding-bottom: 5px;
	border-bottom: 3px solid #264656;
	margin-bottom: 10px;
}

h1 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 31px;
}

sub {
	font-size: 12px;
}

nav {
	margin-left: 20px;
	flex-grow: 1;
	text-align: center;

	.navlink {
		margin: 0 12px;
		font-size: 21px;
		font-variant: small-caps;
	}
}