@import '../mixins';

.centered {
	@include center-align;
	display: flex;
	align-items: flex-end;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 0 10px;
	border-bottom: 3px solid #868686;
	background-color: #d6ecd5;
	color: #212121;
}

h1 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

nav {
	margin-left: 20px;
	flex-grow: 1;
	text-align: right;

	.navlink {
		margin: 0 12px;
		font-size: 1.5rem;
		font-variant: small-caps;
	}
}

@media (max-width: 619px) {
	.centered {
		flex-direction: column;
		align-items: flex-start;
	}

	nav {
		margin-left: 0;
		text-align: left;

		.navlink:first-child {
			margin-left: 0;
		}
	}

	sub {
		display: none;
	}
}