@import '../mixins';

.cardSection {
	@include row;
	@include column(100%);
	margin-bottom: 40px;
	flex-wrap: wrap;

	.cardTitle {
		@include column(100%);
		order: 0;
	}

	.cardContent {
		@include column(100%);
		order: 2;
		margin-top: 0;

		.sectionLink:nth-child(2) {
			float: right;
		}
	}

	.cardImage {
		@include column(100%);
		order: 1;

		img {
			box-shadow: 1px 4px 10px 0 #444;
			max-width: 100%;
		}
	}

	@media (min-width: 768px) {
		@include column(45%);

		&:nth-child(-n+2) {
			@include column(100%);

			.cardTitle {
				@include column(55%);
				height: 0;
			}

			.cardContent {
				@include column(55%);
				order: 1;
				margin-top: 2.5rem;
			}

			.cardImage {
				@include column(40%);
				order: 2;
			}
		}
	}

	@media (min-width: 850px) {
		@include column(30%);
	}
}