div {
	display: flex;
	flex-direction: column;
}

.heading {
	order: 1;
	font-weight: normal;
}

h1 {
	margin: 0 0 20px;
	font-size: 2rem;
}

h2 {
	margin: 20px 0 0;
	font-size: 1.6rem;
}

sub {
	margin: 0 0 20px;
	color: #666;
	font-weight: normal;
	font-size: 0.9rem;
	order: 2;

	& + h1 {
		margin-bottom: 0;
	}
}